// Write a Sass file that sorts the variable $list_to_sort and prints the sorted list in the debug output.



$list_of_letters: a b c d e f g h i j k l m n o p q r s t u v w x y z;

@function sort($list, $letters) {
  $sorted_list: ();
  @each $letter in $letters {
    @if index($list, $letter) {
      $sorted_list: append($sorted_list, $letter);
    }
  }
  @return $sorted_list;
}

$list_to_sort: john anna zoe kim felicia carrie;

@debug sort($list_to_sort, $list_of_letters);


